.container {
  margin: 20px auto;
  width: 70%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#banner_title {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#title1 {
	color: magenta;

}

#title2 {
	color: purple;
}

#word_entry {
	float: left;
	margin-right: 10%;
}

th {
  text-align: left;
}

#board {
	margin: 10% auto;
	background-color: lightgreen;
	display: inline-block;
	float: left;
	margin: 3% auto 5% auto;
}

#board tr {
	height: 50px;
}

.die {
	width: 50px;
	border: 2px solid red;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#words_so_far {
	border: 2px dotted gray;
	display: inline-block;
	width: 90%;
	height: 200px;
}

#not_a_word {
	border: 1px dotted lightgrey;
	float: left;
	padding: 3%;
	margin: 6% 8%;
	height: 200px;
}

.words_lists {
	width: 27%;
	padding: 3%;
	height: 200px;
	float: left;
	border: 1px dotted lightgrey;
}