.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

#board {
	background-color: lightgreen;
}

#board tr {
	height: 50px;
}

.die {
	width: 50px;
	border: 2px solid red;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}