<div class="container">

  <table id="board">
  
    <tr>
      <td class="die">X</td>
      <td class="die">X</td>
      <td class="die">A</td>
      <td class="die">X</td>
    </tr>
  
    <tr>
      <td class="die">X</td>
      <td class="die">R</td>
      <td class="die">X</td>
      <td class="die">X</td>
    </tr>
  
    <tr>
      <td class="die">X</td>
      <td class="die">B</td>
      <td class="die">T</td>
      <td class="die">U</td>
    </tr>
  
    <tr>
      <td class="die">O</td>
      <td class="die">R</td>
      <td class="die">I</td>
      <td class="die">M</td>
    </tr>
  
  </table>


</div>
