<div class="container">

  <h2 id="banner_title"><span id="title1">sylla</span><span id="title2">BGL</span></h2>

  <div id="word_entry">
    <p>Enter Word</p>
    <input id="boggle_word" type="text" name="entered_word"><br>
  </div>

  <table id="board">
  
    <tr>
      <td class="die">X</td>
      <td class="die">X</td>
      <td class="die">A</td>
      <td class="die">X</td>
      <td class="die">X</td>
    </tr>
  
    <tr>
      <td class="die">X</td>
      <td class="die">R</td>
      <td class="die">R</td>
      <td class="die">X</td>
      <td class="die">X</td>
    </tr>
  
    <tr>
      <td class="die">X</td>
      <td class="die">B</td>
      <td class="die">B</td>
      <td class="die">T</td>
      <td class="die">U</td>
    </tr>
  
    <tr>
      <td class="die">O</td>
      <td class="die">R</td>
      <td class="die">R</td>
      <td class="die">I</td>
      <td class="die">M</td>
    </tr>
  
    <tr>
      <td class="die">O</td>
      <td class="die">R</td>
      <td class="die">R</td>
      <td class="die">I</td>
      <td class="die">M</td>
    </tr>
  
  </table>

  <div id="words_so_far">
    <h4>WORDS SO FAR</h4>
    <p id="completed_words"></p>
  </div>


</div>
