<div class="container">


  <div id="main_panel_row">
      <h2 id="banner_title"><span id="title1">sylla</span><span id="title2">BGL</span></h2>
    <div id="stats">
      <div id="score">
        <h4>SCORE 
        <span id="score_num">0</span> (OUT OF <span id="max_score">0</span>)</h4>
      </div>

      <div id="timer">
        <h4>TIMER 
        <span id="timer_num"></span></h4>
      </div>
    </div> <!-- end stats -->
    
    <div id="main_panel_col_1">
    <table id="board" >
    
      <tr>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
      </tr>
    
      <tr>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
      </tr>
    
      <tr>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
      </tr>
    
      <tr>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
      </tr>
    
      <tr>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
        <td class="die"></td>
      </tr>
    
    </table>
      <div id="word_entry">
        <input id="boggle_word" type="text" name="entered_word" placeholder="ENTER WORD"><br>
      </div>

    </div>

    <div id="main_panel_col_2">

      <table id="word_lists">
        <tr>
          <td class="label">INVALID</td>
          <td class="list_data" id="not_words" ></td>
        </tr>
        <tr>
          <td class="label">3LTR WORDS</td>
          <td class="list_data" ><p id="completed_words_3"></p><p id="missed_words_3" class="missed_words_lists"></p></td>
        </tr>
        <tr>
          <td class="label">4LTR WORDS</td>
          <td class="list_data" ><p id="completed_words_4"></p><p id="missed_words_4" class="missed_words_lists"></p></td>
        </tr>
        <tr>
          <td class="label">LongLTR WORDS</td>
          <td class="list_data" ><p id="completed_words_long"></p><p id="missed_words_long" class="missed_words_lists"></p></td>
        </tr>
      </table>


    </div> <!-- end main_panel_col_2 -->

  </div> <!-- end main_panel_row -->


</div> <!-- end container div -->
